// Import Font Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Style Variable
$fonFam1: "Inter", sans-serif;
$blueGray200: #d5d9eb;
$gray25: #fcfcfd;
$gray50: #f9fafb;
$gray300: #d0d5dd;
$gray400: #98a2b3;
$gray500: #71717a;
$gray600: #475467;
$gray700: #344054;
$gray900: #101828;
$blue600: #1570ef;
$blue700: #175cd3;
$blue50: #eff8ff;
// $error: ;
// $warning: ;
// $success: ;

* {
  font-family: $fonFam1;
  margin: 0;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

// Navbar Styling Start
nav {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  .nav-wrap {
    display: flex;
    padding-block: 20px;
    align-items: center;
    justify-content: space-between;

    .navigation {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;

      .menu {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $gray900;
      }

      .kontak {
        background-color: $blue700;
        padding: 12px 18px;
        border-radius: 8px;
        color: $blue50;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin-left: 12px;
      }
    }
  }
}
// Navbar Styling End

// Global Container
.container {
  width: 90%;
  margin-inline: auto;
}

// Section Body Start
.body {
  background-color: $blue50;
  padding-block: 64px;
  .box {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;

    .splitLeft {
      padding: 79px 0px 0px 79px;
      width: 50%;
      .head {
        display: inline-flex;
        align-items: center;
        gap: 30px;

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          letter-spacing: -0.02em;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding-left: 50px;
        margin-top: 48px;
        gap: 20px;

        .wrapper {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          max-width: 465px;
          display: flex;
          margin: 0 0 24px 0;
          gap: 33px;
          padding: 0 0 -20px 0;

          button {
            padding: 0;
            align-items: center;
            border: none;
            background: none;
            cursor: pointer;
          }
        }

        label {
          margin: 0 0 6px 0;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }

        input {
          background: #ffffff;
          padding: 12px 16px;
          border: 1px solid $gray300;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02),
            0px 2px 4px rgba(0, 0, 0, 0.08);
          border-radius: 8px;
        }

        input[type="submit"] {
          margin: 24px 0 24px 0;

          background-color: $blueGray200;
          border: 1px solid $gray300;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          padding: 12px 16px;
          border-radius: 8px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: white;
        }
      }
    }

    .splitRight {
      width: 45%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }
    }
  }
}

// Section Foot Start
#foot {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding: 59px 73px 78px 73px;

  .split {
    display: flex;
    flex-direction: row;
    gap: 100px;
    transform: matrix(1, 0, 0, -1, 0, 0);

    .splitLeft {
      p {
        margin: 18px 0;
        width: 289px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: $gray600;
      }

      .sosmed {
        display: flex;
        flex-direction: row;
        gap: 30px;
      }
    }

    .splitRight {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $blue600;
      }
      .sosmed {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .bantuan {
        display: flex;
        flex-direction: column;
        gap: 28px;

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: $blue600;
        }

        a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
          color: $gray600;
        }
      }
    }

    .garis {
      height: 260px;
      width: 0px;
      border: 1px solid #e2e8f0;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  hr {
    margin: 36px 0 39px 0;
    border: 1px solid #e2e8f0;
  }

  .copyright {
    p {
      transform: matrix(1, 0, 0, -1, 0, 0);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $gray500;
    }
  }
}

// Section Foot End
